body {
  margin: 0;
}

* {
  font-family: "Times New Roman", sans-serif;
}

.container {
  min-height: calc(100vh - 20vh);
  padding: 10vh 40vw 10vh 10vw;
}

h4 {
  margin-block-end: 0;
}

input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 28px;
  margin-right: 10px;
  width: 50%;
}

button {
  border: none;
  cursor: pointer;
  height: 36px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: left;
}

button.escolha {
  width: 100%;
}

button.escolha:disabled {
  opacity: 0.6;
}

div.selecionada {
  pointer-events: none;
}

div.selecionada button:not(.selecionada) {
  opacity: 0.6;
}

button.escolha.selecionada {
  border-left: 2px solid black;
  padding-left: 10px;
}
